@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">*/

html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   background-color: var(--main-bg-color);
   margin: 0px;
   min-height: 100%;
   width: 100%;
/*    overflow: hidden;*/
}

.inline-centering {
    text-align: center !important;
}

.post-year {
    font-size:5em;
    color: var(--main-txt-color);
    font-family: 'Montserrat', sans-serif;
}

.fw {
    width:100%;
}

.post {
    background-color:var(--tertiary-txt-color);
    margin-top: 15%;
    margin-bottom:15%;
    height:70%;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    transition: 0.3s;
}

.post:hover {
    background-color: 	#696969;
}

.team-number {
    color: var(--main-txt-color) ;
    font-size: var(--team-name-fs);
    font-family: 'Raleway', sans-serif;
}

.team-name {
    width:auto;
  color:var(--main-txt-color);
  font-size: var(--header-fs);
  font-family: 'Tomorrow', sans-serif;
  color: var(--main-txt-color);
}

.main-header {
    height:var(--header-height);
    background-color: var(--header-bg-color);
}
.team-info {
    width:var(--pxnt-width-info);
    float:left;
    height:auto;
    flex-grow:1;
}

.num-awards {
    color:white;
    font-size: 1em;
    margin-top:var(--logo-container-margin-top);
    font-family: 'Baloo Chettan 2', cursive;
}

hr {
    mix-blend-mode: difference;
}

.logo-container {
    margin-top:var(--logo-container-margin-top);
    width:var(--pxnt-width-logo);
    float:left;
    flex-grow:1;
}

.social-media-box {
    display:flex;
    margin-top: 10px;
}

.github, .twitter, .instagram, .facebook, .website {
    flex-grow:1;
    color: var(--main-txt-color);
}

.github {
    background-color: black;
}

.twitter {
    background-color:#00acee;
    color:black;
}

.facebook {
    background-color: #3b5998;
}

.instagram {
    color:white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.website {
    background-color:black;
}




.logo {
/*    NOTE: DO not adjust this with dark mode as the logos are mad to work with a white background*/
    margin-left:auto;
    margin-right: auto;
    border: 2px solid gray;
    background-color:white;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
}

img {
/*    CHANGE THE FACT THAT IT SAYS IMG HERE, if the word padding is on the next line send a photo of this to neev*/
    padding:10px;
    height:60px;
    width:60px;
}

.OSH {
    opacity: 0;
}

.years-active {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: var(--main-txt-color);
}

.team-location {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    color: var(--secondary-txt-color);
}

.account-info {
    width:100%;
    display:flex;
    overflow: hidden;
    white-space: no-wrap;
}

.row {
    display:flex;
}

.season-ind {
    flex-grow:1;
/*    border: 2px solid red;*/
    height:25vw;
    width:25vw;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;  
    
    text-align: center;
    line-height: 40px;
}

.header.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
    height:51.67px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown{
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 4px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover{
  background-color: red;
}

.full-height {
    height:100%;
    width:auto;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.accimg {
    height: 40px;
    width:auto;
    padding: 0px !important;
}

:root {
    --header-height:40px;
    --main-bg-color: #0e1111;
    --header-bg-color: #313639;
    --team-name-fs: 2em;
    --header-fs: 5vw;
    --main-txt-color: white;
    --pxnt-width-info: 75%;
    --pxnt-width-logo: 25%;
    --logo-container-margin-top: 10px;
    --secondary-txt-color: #7d7d7d;
    --tertiary-txt-color: #313639;
}