/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

/* GENEREAL */

html {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

body {
   background-color: #0e1111;
   margin: 0px;
   min-height: 100%;
    height:inherit;
   width: 100%;
}

footer, .copyright-container {
 position: absolute;
 bottom: 0;
 width: 100%;
}
/* CLASSES */

#login-box {
    display:none;
}

.title {
  font-size: 15vw;
  font-family: 'Tomorrow', sans-serif;
  color:white;
}

.main-header {
    height:var(--header-height);
    background-color: var(--header-bg-color);
}

:root {
    --header-height:60px;
    --header-bg-color: #313639;
}

.title-container {
    margin-top:20vh;
  width:100%;
}

.subbtn-container {
  width:100%;
    margin-bottom: 50px;
}

.firebaseui-tos {
/*    margin-bottom:20px;*/
}

.subheading {
  font-size: 2vw4;
  color: #605052;
  font-family: 'Roboto';
  font-weight: bold;
}



.subheading-container {
  width:100%;
}

.team-number-input {
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.input-label {
  color:white;
  font-family: 'Roboto';
}

.OSH {
  /* On Start Hidden */
  opacity: 0;
}



.myButton {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
    float:right;
    margin-top:27px;
    margin-right:20px;
}

.myButton:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}

body {
  width:100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.inline-centering {
    text-align: center !important;
}

.copyright{
  color:#586069;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  /* margin-bottom: 2px; */
  font-size: 10px;
}

.copyright-container {
/*    top:10px;*/
  width:100%;
  position: absolute;
/*  margin-top: 10px;*/
  margin-bottom: 2px;
}


/* IDS */

#adj-button {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
    transition-duration: 0.4s;
    min-width:30%;
    width:0%;
    transition:width .8s ease;
}

.expanded {
    width:auto !important;
}

#adj-button:hover {
  width:40%;
  color: #ddd;
}

#firebaseui-auth-container {
    margin-top: 40px;
    margin-bottom:40px;
}

/* SPECIAL */



/* EVERYTHING FOR FANCY INPUT */

.section-1 {
  width: 100%;
  padding: 25px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.expl-3 {
  display: block;
  position: relative;
  width: 50%;
  margin: 20px auto;
}

.input-3 {
  position: relative;
  display: block;
  width: 100%;
  border: 0;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  box-sizing: border-box;
  background: transparent;
  color: #FFFFFF;
  line-height: 1.8em;
}

.label-3 {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  font-size: 1.5em;
  transition: 0.6s;
  pointer-events: none;
}

.label-3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 2.5em;
  border: 4px solid red;
  border-top: 4px solid #ddd;
  border-right: 4px solid #ddd;
  border-bottom: 4px solid #ddd;
  border-left: none;
  transition: 0.6s;
}
.label-3::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  width: 50%;
  height: 2.5em;
  background: #transparent;
  border-top: 4px solid #ddd;
  border-left: 4px solid #ddd;
  border-bottom: 4px solid #ddd;
  border-right: none;
  transition: 0.6s;
}

.content-3 {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  transition: 0.6s;
  line-height: 3em;
  color:#FFFFFF;
}

.input-3:focus + .label-3 .content-3,
.filled .label-3 .content-3 {
  animation: anim-3 0.6s forwards;
}

.input-3:focus + .label-3::before,
.filled .label-3::before {
  left: -2%;
  border-color: #be0071;
  transition-delay: 0.6s;
}

.input-3:focus + .label-3::after,
.filled .label-3::after {
  right: -2%;
  border-color: #be0071;
  transition-delay: 0.6s;
}

@keyframes anim-3 {
  50% {
    opacity: 0;
    transform: scale3d(0.2, 0.2, 1);
  }
  51% {
    opacity: 0;
    top: 0;
    transform: scale3d(0.2, 0.2, 1);
  }
  52% {
    opacity: 1;
    top: -50px;
    transform: scale3d(0.2, 0.2, 1);
  }
  100% {
    opacity: 1;
    top: -50px;
    transform: scale3d(1, 1, 1);
  }
}
/*
form {
    background-color: #0e1111;
}
.firebaseui-title {
    color: lightgray;
}
.firebaseui-id-submit  {
    background-color: #1b91d1;
}

.mdl-button--colored {
    background-color: #1b91d1;
}
.firebaseui-input {
    color: white;
}
.mdl-textfield--floating-label {
    color: lightgray;
}
.mdl-textfield__label {
    color: lightgray;
}
.firebaseui-text {
    color: white;
}
.firebaseui-subtitle {
    color: white;
}
*/
.email {
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
}
.email:hover {
    text-decoration: underline;
}


/* //////////
   ||Header||
   |||Code|||
   //////////
*/
/* Style the header with a grey background and some padding */
* {margin:0;padding:0}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;  
    
    text-align: center;
    line-height: 40px;
}

.header.active {
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}